*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  height:1200px;
  font-size: 18px;
  font-family: poppins;
  color: #E3BE83;
  background-color: #363946;
}

a:link, a:visited
{
  color: #E3BE83;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

.header
{
  position: fixed;
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 15px;
  background: #FFF;
}

/*makes the list horizonal*/
.menu > li
{
  display: inline;
  margin-right: 50px;
}

.menu > li:last-of-type {
  margin-right: 0;
}

.dropdown:hover .features-menu
{
  display: flex;
  flex-direction: column;
  background: #B2D6FF;
  border-radius: 5px;
  padding-top: 60px;

  position:absolute;
  top:-25px;
  left:-30px;
  /*ONLY POSITIONED ELEMENTS PAY ATTENTION TO Z-INDEX!!*/
  z-index: 1;
}

.features-menu
{
  /*Setting display to none makes an element completely disappear.*/
  /*This will be overwritten by flex in the :hover rule*/
  display: none;
}

.dropdown
{
  position: relative;
}

.dropdown > span
{
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.features-menu li
{
  list-style: none;
  border-bottom: 1px solid #FFF;
  padding: 0 40px 10px 20px;
  margin: 10px;
}

.features-menu li:last-of-type
{
  border-bottom: none;
}

.content
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin-bottom: 150px;
  border: 5px solid #555;
}

.content li
{
  list-style: none;
  color: #E3BE83;
}

#content1
{
  font-size: 20px;
  padding-bottom: 30px;
}

.images
{
  display: flex;
  justify-content: center;
}

.animated
{
  position: absolute;
  top: 260px;

  border: 5px solid #555;
  z-index: -1;
}
