*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  font-size: 18px;
  --transition-speed: 600ms;
  --text-color-p: #EFC88B;
  --text-color-p: #D5573B;
  --background-p: #FFF;
  --background-s: #7DAF9C;
}

body
{
  height:1200px;
  color: #E3BE83;
  background-color: #363946;
}

body::-webkit-scrollbar
{
  width: 0.25rem;
}

body::-webkit-scrollbar-track
{
  background: #EFC88B;
}

body::-webkit-scrollbar-thumb
{
  background: #D5573B;
}

main
{
  margin-left: 3rem;
}

.navbar
{
  bottom: 0;
  width: 3rem;
  height: 100vh;
  position: fixed;
  background-color: var(--background-p);
  transition: width 200ms ease;

  float: right;
}

.navbar-nav
{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navbar-nav li:last-of-type
{
  margin-top: auto;
}

.logo
{
  margin-bottom: 1rem;
  background: #D5573B;
  width: 100%;
}

.logo svg
{
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.navbar:hover .logo svg
{
  transform: rotate(-180deg);
}

.nav-item
{
  width: 100%;
}

.nav-link
{
  display:flex;
  align-items: center;
  height: 5rem;
  color: var(--text-color)
  filter: grayscale(100%) opacity(0.7); /*hue-rotate and brightness*/
  transition: var(--transition-speed);
}

.nav-link:hover
{
  filter: grayscale(0%)opacity(1);
  background: var(--background-s);
  color: var(--text-color-p);
}

.link-text
{
  display: none;
  margin-left: 1rem;
}

.nav-link svg
{
  min-width: 1.5rem;
  margin: 0 .75rem;
}

.navbar:hover
{
  width: 10rem;
}

.navbar:hover .link-text
{
  display: block;
}

.fa-primary
{
  color: #EFC88B;
}

.fa-secondary
{
  color: #C3944A;
}

.fa-primary, .fa-secondary
{
  transition: var(--transition-speed);
}

a:link, a:visited
{
  color: #D5573B;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

.header
{
  position: fixed;
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 15px;
  background: #FFF;
}

/*makes the list horizonal*/
.menu > li
{
  display: inline;
  margin-right: 50px;
}

.menu > li:last-of-type {
  margin-right: 0;
}

.dropdown:hover .features-menu
{
  display: flex;
  flex-direction: column;
  background: #B2D6FF;
  border-radius: 5px;
  padding-top: 60px;

  position:absolute;
  top:-25px;
  left:-30px;
  /*ONLY POSITIONED ELEMENTS PAY ATTENTION TO Z-INDEX!!*/
  z-index: 1;
}

.features-menu
{
  /*Setting display to none makes an element completely disappear.*/
  /*This will be overwritten by flex in the :hover rule*/
  display: none;
}

.dropdown
{
  position: relative;
}

.dropdown > span
{
  z-index: 2;
  position: relative;
  cursor: pointer;
}

.features-menu li
{
  list-style: none;
  border-bottom: 1px solid #FFF;
  padding: 0 40px 10px 20px;
  margin: 10px;
}

.features-menu li:last-of-type
{
  border-bottom: none;
}

.content
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin-bottom: 150px;
  /*border: 5px solid #555;*/
}

.content li
{
  list-style: none;
  color: #E3BE83;
}

#content1
{
  font-size: 20px;
  padding-bottom: 30px;
}

.images
{
  display: flex;
  justify-content: center;
}

.book
{
  position: absolute;
  top: 270px;

  /*border: 5px solid #555;*/
  width:96vw;
  height:80vh;
  z-index: -1;
}

.book img
{
  width:100%;
  height:auto;
  max-height:100%;
}

.stars
{
  position: absolute;
  top: -5px;
  width:96vw;
  height:80vh;
  z-index: -1;
}

.stars img
{
  width:100%;
  height:auto;
  max-height:100%;
}
