/*need to hide/disable the horizontal scroll because it keeps showing up*/
html
{
	overflow-x: hidden;
}

.content
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin-bottom: 150px;
  /*border: 5px solid #555;*/
}

.content li
{
  list-style: none;
  color: #E3BE83;
}

#content1
{
  font-size: 25px;
  padding-bottom: 30px;
}

.images
{
  display: flex;
  justify-content: center;
}

.divider
{
  width: 100vw;
  margin: 0px;
}

.divider img
{
  width: 100%;
  height:100%;
}

#d-one
{
  background-color: #1C1E26;
}

#d-two
{
  background-color: #000;
}

.book
{
  position: absolute;
  top: 33vh;

  /*border: 5px solid #555;*/
  width:100vw;
  height:80vh;
  z-index: -1;
}

.book img
{
  width:100%;
  height:auto;
  max-height:100%;
}

.stars
{
  position: absolute;
  top: -5px;
  width:100vw;
  height:80vh;
  z-index: -1;
}

.stars img
{
  width:100vw;
  height:auto;
  max-height:100%;
}

.about
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  width:100vw;
}

p
{
  /*padding: 0px 50px 30px 50px;  /* Top  Right  Bottom  Left */
  padding-bottom: 30px;
}

h1
{
  /* Top  Right  Bottom  Left */
  padding-bottom: 30px;
  font-size: 30px;
}

/*---background scrolling----*/
.wrapper
{
  height: 30%;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  background: #1C1E26;
}

.fixed
{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
  color: #eeeeee;
  text-align: center;
  display: table;
}

.text-box
{
  padding: 70px 200px;
}

.scroll
{
  background-color: #1C1E26;
}

.one
{
  background-image: url("images/Frame_1.jpg");
}

.two
{
  background-image: url("images/frame_2_re.jpg")
}

.three
{
  background-image: url("images/Frame_3.png")
}

.clubs
{
  padding-left: 50px;
  display: flex;
  align-items: center;
}

.club-text
{
  padding: 45px 0px;
}


.article-image
{
  float: left;
  margin-right: 30px;
}

hr.dashed {
  border:none;
  border-top: 5px dashed #D5573B;
}

#acm
{
  margin-bottom: 30px;
}

#exploretech
{
  margin-top: 30px;
}

.footer
{
  background-color: #000;
}

.footer ul
{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
